<div class="content">
  <h3>모듈</h3>
  <p>
    모듈은 <code>@Module()</code> 데코레이터가 달린 클래스입니다. <code>@Module()</code> 데코레이터는 <strong>Nest</strong>가 애플리케이션을 구성하는 데 사용하는
    메타 데이터를 제공합니다.
  </p>
  <figure><img src="/assets/Modules_1.png"></figure>
  <p>
    각 Nest 응용 프로그램에는 적어도 하나의 모듈 인 <strong>루트 모듈이</strong> 있습니다. 루트 모듈은 Nest가 응용 프로그램 트리 정렬을 시작하는 곳입니다. 사실 루트 모듈은 특히 애플리케이션이
    작을 때는 단 하나의 모듈이 될 수 있습니다. 그러나 대규모 응용 프로그램의 경우에는 다릅니다. 대부분의 경우, <strong>기능</strong>의 밀접한 관계 세트를 각각 여러 모듈로 만들어야합니다.
  </p>
  <p>
    <code>@Module()</code> 데코레이터는 모듈을 설명하는 속성을 가진 단일 객체를 사용합니다.
  </p>
  <table>
    <tr>
      <td><code>providers</code></td>
      <td>Nest 인젝터에 의해 인스턴스화되며 적어도이 모듈에서 공유 될 수 있는 프로바이더.</td>
    </tr>
    <tr>
      <td><code>controllers</code></td>
      <td>생성해야하는 컨트롤러 세트 집합</td>
    </tr>
    <tr>
      <td><code>imports</code></td>
      <td>이 모듈에 필요한 프로바이더를 가져온 모듈 목록</td>
    </tr>
    <tr>
      <td><code>exports</code></td>
      <td>이 모듈이 제공하고 다른 모듈에서 사용할 수 있는 <code>providers</code> 의 하위 집합</td>
    </tr>
  </table>
  <p>
    모듈은 기본적으로 프로바이더를 <strong>캡슐화</strong> 합니다. 즉, 현재 모듈의 일부가 아니거나 가져온 모듈에서 내보낸 프로바이더를 삽입하는 것은 불가능합니다.
  </p>
  <h4>기능 모듈</h4>
  <p>
    <code>CatsController</code> 와 <code>CatsService</code> 는 동일한 애플리케이션 도메인에 속합니다. <code>CatsModule</code> 기능 모듈로 이동시키는 것을
    고려해야합니다.
  </p>
  <span class="filename">
    {{ 'cats/cats.module' | extension: catsModuleT.isJsActive }}
    <app-tabs #catsModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ catsModule }}</code></pre>
  <p>
    <code>cats.module.ts</code> 파일을 정의한 다음이 모듈과 관련된 모든 것을 <code>cats</code> 디렉토리로 이동했습니다. 마지막으로이 모듈을 루트 모듈 ( <code>ApplicationModule</code>    )에
    가져와야합니다.
  </p>
  <span class="filename">
    {{ 'app.module' | extension: appModuleT.isJsActive }}
    <app-tabs #appModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ appModule }}</code></pre>
  <p>
    Nest는 <code>ApplicationModule</code> 외에도 <code>CatsModule</code> 등록이 필요하다는 것을 알게 됩니다. 아래의 디렉토리 구조가 지금 보이는 방법입니다.
  </p>
  <div class="file-tree">
    <div class="item">src</div>
    <div class="children">
      <div class="item">cats</div>
      <div class="children">
        <div class="item">dto</div>
        <div class="children">
          <div class="item">create-cat.dto.ts</div>
        </div>
        <div class="item">interfaces</div>
        <div class="children">
          <div class="item">cat.interface.ts</div>
        </div>
        <div class="item">cats.service.ts</div>
        <div class="item">cats.controller.ts</div>
        <div class="item">cats.module.ts</div>
      </div>
      <div class="item">app.module.ts</div>
      <div class="item">main.ts</div>
    </div>
  </div>
  <h4>공유 모듈</h4>
  <p>
    Nest에서 모듈은 기본적으로 <strong>싱글톤</strong>이므로 모든 공급자간에 <strong>동일한 인스턴스</strong> 를 2개 이상의 모듈간에 쉽게 공유 할 수 있습니다.
  </p>
  <figure><img src="/assets/Shared_Module_1.png"></figure>
  <p>
    모든 모듈은 사실 <strong>공유 모듈</strong> 입니다. 일단 생성되면 모든 모듈에서 재사용 할 수 있습니다. 다른 몇몇 모듈 사이에서 <code>CatsService</code> 인스턴스를 공유하려고한다고
    가정 해 봅시다. 이를 위해, <code>CatsService</code> 를 <code>exports</code> 배열에 넣어야합니다.
  </p>
  <span class="filename">
    {{ 'cats.module' | extension: catsModuleSharedT.isJsActive }}
    <app-tabs #catsModuleSharedT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ catsModuleShared }}</code></pre>
  <p>
    이제 <code>CatsModule</code>을 가져올 각 모듈은 <code>CatsService</code>에 대한 액세스 권한을 가지며이 모듈을 가져 오는 모든 모듈과 동일한 인스턴스를 공유합니다.

  </p>
  <h4>모듈 재추출(re-exporting)</h4>
  <p>
    모듈은 내부의 프로바이더를 내보낼 수 있습니다. 또한, 그들은 스스로 import 한 모듈을 다시 내보낼 수 있습니다.
  </p>
  <span class="filename">
    <app-tabs #reExportExamleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ reExportExamle }}</code></pre>
  <h4>의존성 주입</h4>
  <p>
    모듈 클래스는 프로바이더를 <strong>삽입</strong> 할 수 있습니다 (예 : 설정을 위함).
  </p>
  <span class="filename">
    {{ 'cats.module' | extension: catsModuleDiT.isJsActive }}
    <app-tabs #catsModuleDiT></app-tabs>
  </span>
  <pre [class.hide]="catsModuleDiT.isJsActive"><code class="language-typescript">{{ catsModuleDi }}</code></pre>
  <pre [class.hide]="!catsModuleDiT.isJsActive"><code class="language-typescript">{{ catsModuleDiJs }}</code></pre>
  <p>
    그러나 <a href="/fundamentals/circular-dependency">순환 참조</a>로 인해 모듈 클래스를 프로바이더가 삽입 할 수 없습니다.
  </p>
  <h4>전역 모듈</h4>
  <p>
    동일한 모듈 세트를 모든 곳으로 가져와야하는 경우 귀찮을 수 있습니다. <a href="https://angular.io" target="blank">Angular</a> 에서 <code>providers</code>    는
    전역 범위에 등록됩니다. 일단 정의되면 모든 곳에서 사용할 수 있습니다. 반면 Nest는 공급자를 모듈 범위 내에 캡슐화합니다. 모듈 공급자를 가져 오지 않으면 다른 곳에서 모듈 공급자를 사용할 수 없습니다.
    그러나 때로는 헬퍼, 데이터베이스 연결 등과 같이 항상 사용 가능한 일련의 기능을 제공하는 것이 좋습니다. 그렇기 때문에 모듈을 <strong>글로벌</strong> 하게 만들 수 있습니다.
  </p>
  <span class="filename">
    <app-tabs #globalScopeT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ globalScope }}</code></pre>
  <p>
    <code>@Global()</code> 데코레이터는 모듈을 전역 범위로 만듭니다. 글로벌 모듈은 루트 모듈 또는 코어 모듈에 의해 <strong>한 번만</strong> 등록되어야합니다. 이후 <code>CatsModule</code>    은
    가져올 수 없지만 <code>CatsService</code> 공급자는 유비쿼터스가 될 것입니다.
  </p>
  <blockquote class="info">
    <strong>힌트</strong> : 모든 것을 글로벌하게 만드는 것은 좋은 선택이 아닙니다. 전역 모듈은 필요한 상용구의 양을 줄이기 위해 사용할 수 있습니다. <code>imports</code> 배열은
    여전히 ​​모듈 API를 투명하게 만드는 가장 좋은 방법입니다.
  </blockquote>
  <h4>동적 모듈</h4>
  <p>
    Nest 모듈 시스템에는 <strong>동적 모듈</strong> 이라는 기능이 있습니다. 그것은 당신이 노력없이 사용자 정의 모듈을 만들 수 있습니다. <code>DatabaseModule</code> 살펴
    보겠습니다.
  </p>
  <span class="filename">
    <app-tabs #dynamicModulesT></app-tabs>
  </span>
  <pre [class.hide]="dynamicModulesT.isJsActive"><code class="language-typescript">{{ dynamicModules }}</code></pre>
  <pre [class.hide]="!dynamicModulesT.isJsActive"><code class="language-typescript">{{ dynamicModulesJs }}</code></pre>
  <blockquote class="info">
    <strong>힌트</strong> <code>forRoot()</code> 는 동 기적 또는 비동기 적으로 동적 모듈을 반환 할 수 있습니다 ( <code>Promise</code> ).
  </blockquote>
  <p>
    이 모듈은 기본적으로 <code>Connection</code> 공급자를 정의하지만 추가적으로 - 전달 된 <code>options</code> 과 <code>entities</code> 에 따라 - 저장소와
    같은 공급자 모음을 제공합니다. 사실, 동적 모듈은 기본 모듈 메타 데이터를 <strong>확장</strong> 합니다. 이 실질적인 기능은 제공자를 동적으로 등록해야 할 때 유용합니다. 다음과 같이 <code>DatabaseModule</code>    을
    임포트 할 수 있습니다.
  </p>
  <pre><code class="language-typescript">{{ importDynamicModules }}</code></pre>
  <p>
    동적 모듈을 내보내려면 함수 호출 부분을 생략하면됩니다.
  </p>
  <pre><code class="language-typescript">{{ exportDynamicModules }}</code></pre>
  <!--<h4>Single Scope</h4>
    <p>
      There're modules which shouldn't be shared at all. To prevent a module from being a singleton, you can use <code>@SingleScope()</code>
      decorator, which makes that Nest will always create the new instance of the module when it's imported by another one.
    </p>
    <pre><code class="language-typescript">{{ singleScope }}</code></pre>-->
</div>