<div class="content">
  <h3>프로바이더</h3>
  <p>
    기본적으로, 거의 모든 것이 공급자 - 서비스, 저장소, 공장, 도우미 등으로 간주 될 수 있습니다. 이들 모두는 <code>constructor</code> 통해 의존성을 <strong>주입</strong>
    할 수 있습니다. 즉, 서로간에 다양한 관계를 만들 수 있습니다. 그러나 실제로 공급자는 <code>@Injectable()</code> 데코레이터로 주석이 달린 단순한 클래스입니다.
  </p>
  <figure><img src="/assets/Components_1.png"></figure>
  <p>
    이전 장에서는 간단한 <code>CatsController</code> .
  </p>
  <p>
    컨트롤러는 HTTP 요청을 처리하고 더 복잡한 작업을 <strong>서비스에</strong> 위임해야 합니다. 공급자는 <code>@Injectable()</code> 데코레이터가있는 일반 JavaScript
    클래스입니다.
  </p>
  <blockquote class="info">
    <strong>힌트</strong> Nest는 더 많은 OO 방식으로 의존성을 설계하고 구성 할 수있는 가능성을 제공하므로 <strong>솔리드</strong> 원칙을 따르는 것이 좋습니다.
  </blockquote>
  <p>
    간단한 <code>CatsService</code> 프로바이더를 만듭니다.
  </p>
  <span class="filename">
    {{ 'cats.service' | extension: catsServiceT.isJsActive }}
    <app-tabs #catsServiceT></app-tabs>
  </span>
  <pre [class.hide]="catsServiceT.isJsActive"><code class="language-typescript">{{ catsService }}</code></pre>
  <pre [class.hide]="!catsServiceT.isJsActive"><code class="language-typescript">{{ catsServiceJs }}</code></pre>
  <p>
    다음은 <code>CatsService</code> 입니다. 하나의 속성과 두 가지 메소드가있는 기본 클래스입니다. 유일한 새로운 특성은 <code>@Injectable()</code> 데코레이터를 사용한다는
    것입니다. <code>@Injectable()</code> 은 메타 데이터를 첨부하므로 Nest는이 클래스가 Nest 공급자임을 알게됩니다.
  </p>
  <blockquote class="info">
    <strong>Notice</strong> 위에 사용 된 <code>Cat</code> 인터페이스가 있습니다. 스키마는 이전 장에서 작성한 <code>CreateCatDto</code> 클래스와 완전히 동일하기
    때문에 여기서는 언급하지 않았습니다.
  </blockquote>
  <p>
    이미 서비스 클래스가 있으므로 <code>CatsController</code> 내부에서 사용하도록 합니다.
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: catsServiceT.isJsActive }}
    <app-tabs #catsControllerT></app-tabs>
  </span>
  <pre [class.hide]="catsControllerT.isJsActive"><code class="language-typescript">{{ catsController }}</code></pre>
  <pre [class.hide]="!catsControllerT.isJsActive"><code class="language-typescript">{{ catsControllerJs }}</code></pre>
  <p>
    <code>CatsService</code> 는 클래스 생성자를 통해 주입됩니다.
    <code>private readonly</code> 단축 구문을 두려워하지 마십시오.
    <code>catsService</code> 멤버를 같은 위치에 만들고 초기화했습니다.
  </p>
  <h4>의존성 주입</h4>
  <p>
    Nest는 일반적으로 <strong>Dependency Injection</strong> 으로 알려진 강력한 디자인 패턴을 기반으로합니다. 공식 <a href="https://angular.io/guide/dependency-injection"
      target="blank">Angular</a> 문서에 이 개념에 대한 훌륭한 글을 읽는 것이 좋습니다.
  </p>
  <p>
    Nest에서는 <strong>TypeScript</strong> 기능 덕분에 종속성을 관리하기가 매우 쉽습니다.
  </p>
  <pre><code class="language-typescript">{{ constructorSyntax }}</code></pre>
  <h4>사용자 정의 프로바이더</h4>
  <p>
    Nest가 공급자 간 관계를 해결하기 위해 사용하는 컨트롤 컨테이너의 반전은 위에서 설명한 것보다 훨씬 강력합니다. <code>@Injectable()</code> 데코레이터는 빙산의 일각에 지나지 않으며 제공자를
    정의하는 데 엄격하게 요구되지 않습니다. 대신 비동기식 또는 동기식 팩토리 중 하나 인 일반 값, 클래스를 사용할 수 있습니다. 더 많은 예제를 찾으려면 <a routerlink="/fundamentals/dependency-injection">여기</a>를
    보십시오.
  </p>
  <h4>마지막으로</h4>
  <p>
    마지막으로 <code>CatsService</code>라는 프로바이더가 실제로 존재한다고 모듈에 알리는 것입니다. 모듈 파일 인 <code>app.module.ts</code> 를 수정하여 서비스를 <code>@Module()</code>    데코레이터의
    <code>providers</code> 배열에 배치합니다.
  </p>
  <span class="filename">
    {{ 'app.module' | extension: appModuleT.isJsActive }}
    <app-tabs #appModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ appModule }}</code></pre>
  <p>
    덕분에 Nest는 <code>CatsController</code> 클래스의 종속성을 해결할 수 있습니다. 이것은 우리의 디렉토리 구조입니다.
  </p>
  <div class="file-tree">
    <div class="item">src</div>
    <div class="children">
      <div class="item">cats</div>
      <div class="children">
        <div class="item">dto</div>
        <div class="children">
          <div class="item">create-cat.dto.ts</div>
        </div>
        <div class="item">interfaces</div>
        <div class="children">
          <div class="item">cat.interface.ts</div>
        </div>
        <div class="item">cats.service.ts</div>
        <div class="item">cats.controller.ts</div>
      </div>
      <div class="item">app.module.ts</div>
      <div class="item">main.ts</div>
    </div>
  </div>
</div>