<div class="content">
  <h3>시작하기</h3>
  <p>
    이 장에서는 Nest의 <strong>기본 원리</strong> 를 배우게됩니다. Nest 애플리케이션의 핵심 요소에 익숙해지기 위해 입문 레벨에서 많은 부분을 다루는 기능으로 기본 CRUD 애플리케이션을 빌드
    할 것입니다.
  </p>
  <h4>언어</h4>
  <p>
    우리는
    <a href="http://www.typescriptlang.org/" target="blank">TypeScript</a>와
    <a href="https://nodejs.org/en/" target="blank">Node.js</a>를 좋아합니다. 이것이 Nest가 TypeScript와 <strong>순수 JavaScript</strong>
    모두와 호환되는 이유입니다. Nest는 최신 언어 기능을 활용하므로 간단한 JavaScript로 프레임워크를 사용하려면 <a href="http://babeljs.io/" target="blank">Babel</a>
    컴파일러가 필요합니다.
  </p>
  <p>
    우리가 제공하는 예제에서는 주로 TypeScript를 사용하지만 <strong>코드 조각을 바닐라 자바​스크립트 구문으로 변경</strong> 할 수는 있습니다.
  </p>
  <h4>사전 요구사항</h4>
  <p>
    운영체제에 <a href="https://nodejs.org/" target="blank">Node.js</a> <strong>(&gt; = 8.9.0)</strong> 가 설치되어 있는지 확인하십시오.
  </p>
  <h4>설치</h4>
  <p>
    <a routerlink="/cli/overview">Nest CLI</a>를 사용하면 새 프로젝트를 간단하게 구축할 수 있습니다. <a href="https://www.npmjs.com/" target="blank">npm</a>이
    설치 되어 있다면 OS의 터미널에서 다음 명령어로 새 Nest 프로젝트를 만들 수 있습니다.
  </p>
  <pre><code class="language-bash">
$ npm i -g @nestjs/cli
$ nest new project</code></pre>
  <p><code>project</code> 디렉터리는 여러 중요한 파일을 <code>src/</code> 디렉터리에 만듭니다.
  </p>
  <div class="file-tree">
    <div class="item">src</div>
    <div class="children">
      <div class="item">app.controller.ts</div>
      <div class="item">app.module.ts</div>
      <div class="item">main.ts</div>
    </div>
  </div>
  <p>
    규칙에 따라 새로 생성 된 모듈은 각자의 전용 디렉터리에 있어야 합니다.
    <table>
      <tr>
        <td>
          <code>main.ts</code>
        </td>
        <td>애플리케이션의 시작점. <code>NestFactory</code> 를 사용하여 Nest 애플리케이션 인스턴스를 만듭니다.</td>
      </tr>
      <tr>
        <td>
          <code>app.module.ts</code>
        </td>
        <td>애플리케이션의 루트 모듈인 <code>AppModule</code>을 정의합니다.</td>
      </tr>
      <tr>
        <td>
          <code>app.controller.ts</code>
        </td>
        <td>하나의 라우트가 있는 기본 컨트롤러 샘플.</td>
      </tr>
    </table>
    <p>
      <code>main.ts</code> 에는 비동기 함수가 포함되어있어 애플리케이션을 <strong>부트스트랩</strong> 합니다.
    </p>
    <span class="filename">
      {{ 'main' | extension: bootstrapSwitch.isJsActive }}
      <app-tabs #bootstrapSwitch></app-tabs>
    </span>
    <pre><code class="language-typescript">{{ bootstrap }}</code></pre>
    <p>
      Nest 애플리케이션 인스턴스를 만들려면 <code>NestFactory</code>을 사용합니다. <code>create()</code> 메소드는 <code>INestApplication</code> 인터페이스를
      구현하는 객체를 반환합니다. 다음 장에서 자세히 설명할 메소드를 제공합니다.
    </p>
    <h4>애플리케이션 실행하기</h4>
    <p>
      설치 프로세스가 완료되면 다음 명령을 실행하여 HTTP 서버를 시작할 수 있습니다.
    </p>
    <pre><code class="language-bash">
$ npm run start</code></pre>
    <p>
      이 명령은 <code>src/main.ts</code> 파일에 정의된 포트로 HTTP 서버를 시작합니다. 애플리케이션이 실행되면 브라우저를 열고 <code>http://localhost:3000/</code>에
      접속하세요. <code>Hello world!</code>를 볼 수 있을 것 입니다.
    </p>
</div>